@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
body {
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "Bree Serif", serif;
	font-weight: 400;
	text-align: justify;
}
#bottomside {
	position: fixed;
	left: 0;
	top: 35vh;
	z-index: 1000;
  }
  
  #bottomside a {
	position: absolute;
	left: -100px;
	transition: 0.3s;
	padding: 15px;
	width: 130px;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	color: white;
	border-radius: 0 5px 5px 0;
  }
  
  #bottomside a:hover {
	left: 0;
  }

#about {
    top: 20px;
    background-color: #4CAF50;
}

#img1 {
	margin: 15px 0px 0px 15px;
	float: left;
}

#img2 {
	margin: 0px 20px 0px 0px;
	float: right;
}
#barra {
	background-color: #028453;
	position: absolute;
	top: 0%;
	width: 100%;
	font-family: "Bree Serif", serif;
	font-weight: 400;
	font-size: 32pt;
	text-align: center;
	color: white;
	border-bottom-style: solid;
	border-bottom-color: #383028;
}

#barraf {
	background-color: #028453;
	position: absolute;
	padding: 5px;
	bottom: 0%;
	width: 100%;
	font-family: "Bree Serif", serif;
	font-weight: 400;
	font-size: 15pt;
	text-align: center;
	color: white;
	border-top-style: solid;
	border-top-color: #383028;
}

#contentable{
	overflow: hidden;
	height: 55vh;
	overflow-y: auto;
}
#khsdfjk{
	display: none;
}
#example tr th{
	text-align: center
}

#example tr td{
	text-align: center
}
#descricmoni {
	resize: none;
	height: 74px;
	width: 349px;
  }
  
  #txtdescripnove,#txtdescripmodif {
	resize: none;
	height: 130px;
  }





