body {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
    
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
} 

#img1{
    margin: 15px 0px 0px 15px;
    float: left;
}
#img2{
     margin: 0px 20px 0px 0px;
    float: right;
}
#barra{
    background-color: #028453;
    position: absolute;
    top: 0%;
    width: 100%;
    font-family: 'Arial Rounded MT Bold';
    font-size:3.5em;
    text-align: center;
    color: white;
    border-bottom-style:solid;
    border-bottom-color:#383028;
}
#barraf{
    background-color: #028453;
    position: absolute;
    top: 95%;
    width: 100%;
    font-family: 'Arial Rounded MT Bold';
    font-size:1.5em;
    text-align: center;
    color: white;
    border-top-style:solid;
    border-top-color:#383028;
}


ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 90px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
span{font-size:1.3em !important;}
span i{font-size:1.5em !important; padding-top:15px !important ;}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}



 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    z-index: 10000;

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 


#contetabla{
    height: 500px;
    overflow: auto;
}